.modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
}

.modal-content h2 {
      margin-top: 0;
}

.modal-content p {
      margin-bottom: 0;
}

.modalbutton {
      background-color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5%;
      margin-bottom: 1rem;
      font-size: 0.8rem;
      font-weight: bold
}

.modalbutton:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: red;
}

.modalButtonContainer {
      display: flex;
      justify-content: space-between;
}